extends layout
block content
    #formulaire()
        .modal-dialog
            .modal-content
                .modal-header
                    button(type="button", class="close", data-dismiss="modal")='x'
                    h4(class="modal-title")="Organisation Soirée Cat-Amania"
                .modal-body
                    p="Merci de vous identifier."
                    br
                    p="Pour chaque date indiquez 0 si vous n'êtes pas diponible, 1 si vous vennez seul ou un autre nombre correspondant au nombre d'invités qui vous accompagnerons"
                    label(for="nom")=" Nom  :"
                    input( type="text", class="form-control",name="nom", id="nom")
                    label(for="nom")=" Prenom  :"
                    input( type="text", class="form-control",name="prenom", id="prenom")
                    h2(class="modal-title", for="NbPersonne")="C'est parti pour chaque date!"
                    ul(role="menu")
                        each date, index in dates
                            li(class="divider")
                                h4(class="modal-title", for="NbPersonne")="Date:"+date
                                label(for="NbPersonne")="Nombre de personne (Vous compris)"
                                input(type="number",class="form-control",name="NbPersonne", id="NbPersonne"+index,min="0", value="0")

                    .modal-footer
                        button(id="Supprimer", type="button", class="btn btn-default")
                            icone(class="glyphicon glyphicon-trash")
                        button(id="Repondre", type="button", class="btn btn-default")
                            icone(class="glyphicon glyphicon-ok")
                        button(type="button", class="btn btn-default", data-dismiss="modal")='Fermer'